{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<Title>Item Description</Title>
			<h1>Items in Catalog - {{item_category.name}}</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	{% if item_category !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Items in Category</h2>
					{% for i in item_category %}
							<div class="menu-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<a href='{{url_for('item_Edit', item_id = item.id, category_id=i.category_id)}}'>Edit</a> | 
								<a href='{{url_for('item_Delete', item_id = item.id, category_id=i.category_id)}}'>Delete</a>
							</div>
					{% endfor %}
			</div>

		</div>
		<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
